body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    color:aliceblue;
    line-height: 1.6;
    /* background-color: black; */
    background: linear-gradient(to right, #c7a304, #e4e5e6);
}
.main{
    background-color: black;
    color:aliceblue;
}

.about {
    padding: 2rem 0;
    /* background-color: #f4f4f4; */
}

.about .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    color: aliceblue;
}

.about h2 {
    margin-bottom: 1rem;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.about-item {
    flex: 1 1 30%;
    /* background: #fff */
    color: aliceblue;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.about-item img {
    width: 100%;
    height: auto;
}

.about-item h3 {
    margin: 1rem;
    font-size: 1.5rem;
}

.about-item p {
    margin: 1rem;
}

footer {
    /* background-color: #333; */
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}