  
<br>
  <div class="contain">
    <nav class="navbar">
      <div class="logo">
        <div class="text">
          <span>Chalo Ghume</span>
        </div>
      </div>
      <ul class="nav-list">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/destination">Destination</a></li>
        <li class="nav-item"><a href="/activities">Activities</a></li>
        <li class="nav-item"><a href="/hotels">Hotels</a></li>
        <!-- <li class="nav-item"><a href="/themes">Themes</a></li> -->
        <li class="nav-item"><a href="/more">More</a></li>
        <!-- <li class="nav-item"><a href="/pay">Pay Now</a></li> -->
        
        <button mat-icon-button class="example-icon" (click)="login()" aria-label="Example icon-button with share icon">
          <mat-icon>account_circle</mat-icon>
        </button>
       
      </ul>
    </nav>
  </div>
  
  